@import url('https://fonts.googleapis.com/css?family=Lobster');

i.tabbar-demo-icon-1{width:30px;height:30px;background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' fill='%23929292'><g><circle cx='15.2' cy='8.8' r='1.5'/><polygon points='16.7,12.3 16.7,11.7 16.7,11.3 13.7,11.3 13.7,12.3 14.7,12.3 14.7,20.3 13.7,20.3 13.7,21.3 17.7,21.3 17.7,20.3 16.7,20.3'/><path d='M15.2,2.3C8.3,2.3,2.7,7.9,2.7,14.8s5.6,12.5,12.5,12.5c6.9,0,12.5-5.6,12.5-12.5S22.1,2.3,15.2,2.3z M15.2,26.3 c-6.3,0-11.5-5.2-11.5-11.5S8.8,3.3,15.2,3.3s11.5,5.2,11.5,11.5S21.5,26.3,15.2,26.3z'/></g></svg>");}.active i.tabbar-demo-icon-1{background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 30' fill='%23007aff'><path d='M15,2.6C8.1,2.6,2.5,8.2,2.5,15.1C2.5,22,8.1,27.6,15,27.6S27.5,22,27.5,15.1C27.5,8.2,21.9,2.6,15,2.6z M15,7.6 c0.8,0,1.5,0.7,1.5,1.5c0,0.8-0.7,1.5-1.5,1.5c-0.8,0-1.5-0.7-1.5-1.5C13.5,8.3,14.2,7.6,15,7.6z M17.5,21.6h-4v-1h1v-8h-1v-1h3V12 v0.6v8h1V21.6z'/></svg>");}i.tabbar-demo-icon-2{width:25px;height:30px;background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23929292'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.4L5.9,1z M24,16H1V7h7.1 c0.5,1.9,2.3,3.4,4.4,3.4s3.9-1.5,4.4-3.4H24V16z'/></svg>");}.active i.tabbar-demo-icon-2{background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 17' fill='%23007aff'><path d='M19.5,0h-14L0,6v11h25V6L19.5,0z M5.9,1h13.2l4.5,5H16c0,1.9-1.6,3.4-3.5,3.4C10.6,9.4,9,7.9,9,6H1.3L5.9,1z'/></svg>");}i.tabbar-demo-icon-3{width:30px;height:30px;background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 19' fill='%23929292'><path d='M16.8,1c3.7,0,6.8,3,6.8,6.8l0,0.1c0,0,0,0.1,0,0.1l0,1l1,0C27,9,29,11,29,13.5c0,2.5-2,4.5-4.5,4.5H6c-2.8,0-5-2.2-5-5 c0-2.1,1.4-4,3.4-4.7L5,8.1l0.1-0.6C5.3,6,6.5,5,8,5c0.4,0,0.9,0.1,1.3,0.3l0.9,0.5l0.4-0.9C11.8,2.5,14.2,1,16.8,1 M16.8,0 c-3.1,0-5.7,1.8-7,4.4C9.2,4.2,8.6,4,8,4C6,4,4.4,5.4,4.1,7.3C1.7,8.1,0,10.4,0,13c0,3.3,2.7,6,6,6h18.5v0c3,0,5.5-2.5,5.5-5.5 c0-3-2.5-5.5-5.5-5.5c0-0.1,0-0.2,0-0.2C24.5,3.5,21.1,0,16.8,0L16.8,0z'/></svg>");}.active i.tabbar-demo-icon-3{background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 30 19' fill='%23007aff'><path d='M24.5,8c0-0.1,0-0.2,0-0.2C24.5,3.5,21,0,16.8,0c-3.1,0-5.7,1.8-7,4.4C9.2,4.2,8.6,4,8,4C6,4,4.4,5.4,4,7.3 C1.7,8.1,0,10.4,0,13c0,3.3,2.7,6,6,6h18.5v0c3,0,5.5-2.5,5.5-5.5C30,10.5,27.5,8,24.5,8z'/></svg>");}i.tabbar-demo-icon-4{width:25px;height:30px;background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23929292'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15,0h-5C9.5,0,8.9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M24,17c0,0.6-0.4,1-1,1H2c-0.6,0-1-0.4-1-1V5c0-0.6,0.4-1,1-1h4.2h0.4 l0.3-0.3l1.2-1.2l0,0.1l1.1-1.2C9.5,1.1,9.8,1,10,1h5c0.3,0,0.5,0.1,0.7,0.3l2.4,2.4L18.4,4h0.4H23c0.6,0,1,0.4,1,1V17z'/><path d='M12.5,4C8.9,4,6,6.9,6,10.5c0,3.6,2.9,6.5,6.5,6.5c3.6,0,6.5-2.9,6.5-6.5C19,6.9,16.1,4,12.5,4z M12.5,16 c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5S18,7.5,18,10.5C18,13.5,15.5,16,12.5,16z'/><path d='M12.5,6C10,6,8,8,8,10.5C8,13,10,15,12.5,15s4.5-2,4.5-4.5C17,8,15,6,12.5,6z M12.5,14C10.6,14,9,12.4,9,10.5 C9,8.6,10.6,7,12.5,7S16,8.6,16,10.5C16,12.4,14.4,14,12.5,14z'/></g></svg>");}.active i.tabbar-demo-icon-4{background-image:url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 25 19' fill='%23007aff'><g><path d='M23,3h-4.1l-2.4-2.4c0,0,0,0,0,0l0,0C16.1,0.2,15.6,0,15.1,0h-5C9.5,0,9,0.3,8.6,0.6l0,0L6.2,3H2C0.9,3,0,3.9,0,5v12 c0,1.1,0.9,2,2,2h21c1.1,0,2-0.9,2-2V5C25,3.9,24.1,3,23,3z M12.5,16c-3,0-5.5-2.5-5.5-5.5C7,7.5,9.5,5,12.5,5c3,0,5.5,2.5,5.5,5.5 C18,13.5,15.5,16,12.5,16z'/><circle cx='12.5' cy='10.5' r='4.5'/></g></svg>");}

.logo-title {
	font-family: 'Lobster', cursive;
	font-size: 24px;
	color: white;
}

.fa-icon {
	font-size: 25px !important;
	padding-top: 5px;
}

.bus-number {
	margin-top: 5px;
	margin-bottom: 5px;
}

.multiline-buttons-row .tab-link {
	white-space: normal;
	height: auto;
	line-height: 1.15em;
}

.tab-text p {
	margin: 0;
}

.tab-text h3 {
	margin-bottom: 0;
}

.item-title.small-item-title {
	width: 15% !important;
}

.page-content {
	padding-top: 44px !important;
	padding-bottom: 50px !important;
}

#view1_googleMapUI-map, #view4_googleMapUI-map {
	background: transparent url(img/loading.gif) no-repeat center center;
}

.map_wrapper {
	position: relative;
}

.over_map_view1_googleMapUI {
	position: absolute;
	top: 40%;
	z-index: 99;
	width: 100%;
	height: 20%;
	text-align: center;
	background-color: rgba(25,25,25,0.8);
	display: none;
}

.over_map_view1_googleMapUI span {
	line-height: 55px;
	color: white;
}

#latest-mrt-update-card .buttons-row a {
	border-radius: 0;
}

#latest-mrt-update-card .card-content-inner {
	padding-top: 0;
	padding-bottom: 0;
}

.swiper-pagination-bullet-active {
	background-color: rgb(255, 45, 85);
}

.swiper-pagination-bullets {
	text-align: center;
}

#incident {
	background: transparent url(img/loading.gif) no-repeat center center;
	height: 80px;
}

.ap-overlay {
	z-index: 100000 !important;
}

#ip-start-date, #ip-end-date {
	color: rgb(255, 45, 85);
}

#view5_heatmapUI-map_placeholder {
	background: transparent url(img/loading.gif) no-repeat center center;
	height: 275px;
}

#view2_leafletUI_wrapper {
		background: transparent url(img/loading.gif) no-repeat center center;
	height: 275px;
}

/*
#view2_mrtBreakdownTableUI-mrt_breakdown .fa-forward {
	color: #4cd964;
}

#view2_mrtBreakdownTableUI-mrt_breakdown .fa-chain-broken {
	color: #ff3b30;
}

#view2_mrtBreakdownTableUI-mrt_breakdown .fa-clock-o {
	color: #fc0;
}
*/

[data-line-name='DTL'] {
	color: #045fc8;
}

[data-line-name='NEL'] {
	color: #9b01ad;
}

[data-line-name='CCL'] {
	color: #fa9e0f;
}

[data-line-name='EWL'] {
	color: #019644;
}

[data-line-name='NSL'] {
	color: #d52d12;
}


[data-line-name-box='DTL'] {
	background-color: #045fc8;
}

[data-line-name-box='NEL'] {
	background-color: #9b01ad;
}

[data-line-name-box='CCL'] {
	background-color: #fa9e0f;
}

[data-line-name-box='EWL'] {
	background-color: #019644;
}

[data-line-name-box='NSL'] {
	background-color: #d52d12;
}

ul#legend-mrt-breakdown-table li {
	display: inline;
	font-size: medium;
}

a[data-target-id='heatmap_hour'] {
	line-height: 60px;
}

#view5_heatmapUI-heatmapSlider-item .slider-animate-container {
	text-align: center;
	margin-top: 5px;
	margin-bottom: -5px;
}

#view5_heatmapUI-heatmapSlider-item .slider-animate-button {
	opacity: 1;
}

.dygraph-ylabel {
	background-color: white;
	height: 4em;
}

.pac-container {
	z-index: 9999;
	width: 100% !important;
	left: 0 !important;
}

.pac-item, .pac-item-query {
	font-size: 15px;
	line-height: 50px;
}

.pac-icon-marker {
	position: relative;
	top: 10px !important;
}

#route-instructions .item-content {
	padding-left: 0;
}

#route-instructions .item-content * {
	margin-left: 2px;
	margin-right: 2px;
}

#route-instructions .item-inner {
	justify-content: left;
	overflow-x: scroll;
}

#route-instructions .fa-square {
	padding-right: 10px;
}

#route-instructions .instruction_time {
	width: 100%;
	text-align: right;
	white-space: nowrap;
}

#route-instructions .instruction_bus {
	padding: 5px;
	color: white;
	background-color: #ff2d55;
	font-weight: bold;
	border-radius: 5px;
}

#route-instructions .instruction_train {
	padding: 5px;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

#view4_googleMapUI-legend {
	font-family: Arial, sans-serif;
	background: #fff;
	width: 50% !important;
	left: 25% !important;
	margin-bottom: 10px;
	border: 3px solid #000;
	text-align: center;
}

#view4_googleMapUI-legend i {
  padding: 5px 5px 5px 10px;
}

#view4_severityChartUI-bar_plot {
	background-color: #EFEFF4;
}

#route-instructions-detailed-list .no-hairlines-between .item-content {
	font-size: 0.9em;
	min-height: unset;
	padding-bottom: 5px;
}

#route-instructions-detailed-list .no-hairlines-between .item-inner {
	margin-left: 20px;
	padding: 0;
	min-height: unset;
	justify-content: left;
}

#route-instructions-detailed-list .no-hairlines-between .item-inner:after {
	height: 0 !important;
}

#view4_googleMapUI-loading_overlay {
	z-index: 999;
	height: 275px;
	position: absolute;
	background: transparent url(img/loading.gif) no-repeat center center;
	width: 100%;
	display: none;
}
