<div id="view-4" class="view tab" data-page="index-4">
	<div class="pages">
		<div data-page="index-4" class="page">
			<div class="page-content">
				{{ locationInputUI }}
				<div class="map_wrapper">
					<span id="view4_googleMapUI-loading_overlay"></span>
					{{ googleMapUI$mainUI }}
					<div id="view4_googleMapUI-map_placeholder" class="need_placeholder_detach" data-src-id={{googleMapUI$need_placeholder_detach}}>
					</div>
				</div>
				<div class="card list-block">
					<ul id="route-instructions" style="display: none;">
					</ul>
				</div>
				<div class="list-block" style="margin: 0;">
					<ul id="route-instructions-detailed" style="display: none;">
						<img src="img/checkered-flag.png" style="width: 100%" alt="checkered-flag">
						<div id="route-instructions-detailed-list"></div>
						<img src="img/checkered-flag.png" style="width: 100%" alt="checkered-flag">
					</ul>
				</div>
				<div id="severity-chart-area" class="card" style="box-shadow: none;	">
					{{ severityChartUI }}
				</div>
			</div>
		</div>
	</div>
</div>
<div id="view4_googleMapUI-legend" style="display: none;"></div>
