<li>
	<div class="item-content">
		<div class="item-inner">
			<span id="location-sharing-span">Share your location?</span>
			<label class="label-switch">
				<input type="checkbox" id="location-sharing-checkbox">
				<div class="checkbox"></div>
			</label>
		</div>
	</div>
</li>
<li>
  <div class="item-content">
    <div class="item-inner">
      <div class="item-title label">Select a date</div>
      <div class="item-input">
        <input type="text" id="ip-start-date" readonly>
      </div>
    </div>
  </div>
</li>
<!--
<li>
  <div class="item-content">
    <div class="item-inner">
      <div class="item-title label">To</div>
      <div class="item-input">
        <input type="text" id="ip-end-date" readonly>
      </div>
    </div>
  </div>
</li>
-->
