<li class="accordion-item">
  <a href="#" class="item-content item-link">
    <div class="item-inner">
      <div class="item-title">{{ overview_text }}</div>
    </div>
  </a>
  <div class="accordion-item-content">
    <div class="list-block no-hairlines-between">
      <ul>
        {{ detailed_text }}
      </ul>
    </div>
  </div>
</li>
