<div class="card list-block media-list traffic-incident-card" data-marker-id={{ incident$id }}>
	<ul>
		<li class="item-content">
			<div class="item-media"><img src={{ incident$Icon }}></div>
			<div class="item-inner">
				<div class="item-title-row">
				<div class="item-title color-gray">{{ incident$time }}</div>
				</div>
				<div>{{ incident$Message }}</div>
			</div>
		</li>
	</ul>
</div>
