<div class="list-block" style="margin-top: 0; margin-bottom: 0;">
	<ul>
		<li>
			<div class="item-content">
				<div class="item-inner" style="padding-right: 5px;">
					<div class="item-title label small-item-title">From</div>
					<div class="item-input">
						<input onClick="this.setSelectionRange(0, this.value.length)" type="text" id="view4_start-point" placeholder="Start point">
					</div>
					<div class="item-after">
						<a href="#" id="view4_get-location-search" class="button"><i class="fa fa-crosshairs fa-lg"></i></a>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="item-content">
				<div class="item-inner">
					<div class="small-item-title item-title label">To</div>
					<div class="item-input">
						<input onClick="this.setSelectionRange(0, this.value.length)" type="text" id="view4_end-point" placeholder="End point">
					</div>
				</div>
			</div>
		</li>
		<li>
      <a href="#" class="item-link list-button" id="view4_submit_button">Search</a>
    </li>
	</ul>
</div>
