<div id="view-5" class="view tab" data-page="index-5">
	<div class="pages">
		<div data-page="index-5" class="page">
			<div class="page-content">
				<div class="list-block accordion-list" style="margin-top: 0;">
					<ul>
						<li class="accordion-item accordion-item-expanded">
							<a href="#" class="item-content item-link">
    						<div class="item-inner">
      						<div class="item-title"><strong>Users Location Heatmap</strong></div>
    						</div>
    					</a>
							<div class="accordion-item-content">
								<div class="item-media"><i class="icon icon-form-toggle"></i></div>
								<div class="list-block">
  								<ul>
										{{ heatmapUI$mainUI }}
										<li id="view5_heatmapUI-map_placeholder" class="need_placeholder_detach" data-src-id={{heatmapUI$need_placeholder_detach}}>
										</li>
										<li id="view5_heatmapUI-heatmapSlider-item">
											<div class="item-content">
												<div class="item-inner">
													{{ heatmapUI$heatmapSliderUI }}
												</div>
											</div>
										</li>
  								</ul>
  							</div>
							</div>
						</li>
						<li class="accordion-item">
							<a href="#" class="item-content item-link">
    						<div class="item-inner">
      						<div class="item-title"><strong>Transport Tweets Word Cloud</strong></div>
    						</div>
    					</a>
							<div class="accordion-item-content">
								<br>
								{{ wordCloudUI$mainUI }}
								<div class="need_placeholder" data-src-id={{wordCloudUI$need_placeholder}}>
								</div>
							</div>
						</li>
						<li class="accordion-item">
							<a href="#" class="item-content item-link">
    						<div class="item-inner">
      						<div class="item-title"><strong>Sentiment Graph</strong></div>
    						</div>
    					</a>
							<div class="accordion-item-content">
								<br>
								{{ plotSentimentUI$mainUI }}
								<div class="need_placeholder" data-src-id={{plotSentimentUI$need_placeholder}}>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
