<div id="view-2" class="view tab" data-page="index-2">
	<div class="pages">
		<div data-page="index-2" class="page">
			<div class="page-content">
				<div id="view2_leafletUI_wrapper">
					<div id="view2_leafletUI-leaf_placeholder" class="need_placeholder_detach" data-src-id={{leafletUI$need_placeholder_detach}}></div>
				</div>

				<div class="content-block-title">
					Recent MRT Incidents
				</div>
				<div class="card">
					<div class="card-header">
						<ul id="legend-mrt-breakdown-table" class="row" style="padding: 0; width: 100%; text-align: center;">
							<li class="col-33"><i class="fa fa-chain-broken"></i>&nbsp;Breakdown</li>
							<li class="col-33"><i class="fa fa-forward"></i>&nbsp;Resumed</li>
							<li class="col-33"><i class="fa fa-clock-o"></i>&nbsp;Delayed</li>
						</ul>
					</div>
					<div class="card-content">
						<div id="view2_mrtBreakdownTableUI-mrt_breakdown_placeholder" class="need_placeholder_detach" data-src-id={{mrtBreakdownTableUI$need_placeholder_detach}}></div>
					</div>
				</div>

				<div class="content-block-title">
				  MRT Breakdown Timeline
				</div>
				<div class="card">
				  <div class="card-content">
				    <div id="view2_breakdownTimelineUI-timeline_breakdown_placeholder" class="need_placeholder_detach" data-src-id={{breakdownTimelineUI$need_placeholder_detach$timeline_breakdown}}></div>
				  </div>
				</div>

				<div class="content-block-title">
				  MRT Delay Timeline
				</div>
				<div class="card">
				  <div class="card-content">
				    <div id="view2_breakdownTimelineUI-timeline_delay_placeholder" class="need_placeholder_detach" data-src-id={{breakdownTimelineUI$need_placeholder_detach$timeline_delay}}></div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
