<div id="view-1" class="view tab active" data-page="index-1">
	<div class="pages">
		<div data-page="index-1" class="page">
			<div class="page-content">
				<div class="map_wrapper">
					{{ googleMapUI }}
					<div class="over_map_view1_googleMapUI"><span>
						Retrieving your location...
					</span></div>
				</div>

				<div class="content-block-title">
					Latest MRT Update
				</div>
				{{ twitterOverviewUI }}

				<div class="content-block-title">
					<span id="overview-traffic-incident-title">Traffic Near You</span>
					<a href="#" class="link more-button" data-more="#more-incident" data-less="#less-incident" style="float: right;">Most Recent</a>
				</div>
				<div id="incident">
					<div id="more-incident">
						{{ trafficIncidentsUI_more }}
					</div>
					<div id="less-incident">
						{{ trafficIncidentsUI_less }}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
