<div id="latest-mrt-update-card" class="card ks-card-header-pic">
	<div class="card-content">
		<div class="card-content-inner">
			<div class="tabs-swipeable-wrap">
        <div class="tabs">
          <div id="tab_smrt" class="tab active">
            <p class="color-gray">
            	{{ smrt_tweet_info$datetime }}
            	<a href="https://twitter.com/smrt_singapore" class="link cross-origin-link" style="float: right;"><i class="fa fa-arrow-circle-right fa-lg"></i></a>
            </p>
            <p>{{ HTML(smrt_tweet_info$description) }}</p>
          </div>
          <div id="tab_sbs" class="tab">
            <p class="color-gray">
              {{ sbs_tweet_info$datetime }}
              <a href="https://twitter.com/SBSTransit_Ltd" class="link cross-origin-link" style="float: right;"><i class="fa fa-arrow-circle-right fa-lg"></i></a>
            </p>
            <p>{{ HTML(sbs_tweet_info$description) }}</p>
          </div>
        </div>
      </div>
		</div>
		<div class="buttons-row">
			<a href="#tab_smrt" class="button active tab-link">@SMRT_Singapore</a>
			<a href="#tab_sbs" class="button tab-link">@SBSTransit_Ltd</a>
		</div>
	</div>
</div>
